body {
    margin: 0;
    display: grid;
    grid-template-areas: 
    'H'
    'M'
    'F';
    font-family: monospace;
    box-sizing: 0;
}

header {
    grid: H;
    background-color: #430A5D;
    height: 500px;
}


nav.navv a {
    display: float;
    float: left;
    padding: 16px 24px;
    margin: 0px;
    color: white;
    text-decoration: none;
    font-size: 20px; 
}

nav.navv a:hover {
    background-color: white;
    color: black
}



h1.firsth1 {
font-size: 64px;
margin-top: 160px;
text-align: center;
color: white;
}

h3 {
font-size: 24px;
color: white;
text-align: center;
}



a.aaa {
    background-color: black;
    padding: 16px 32px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 32px;
    text-align: center;

}

div.alittle a:hover {
    background-color: lightgray;
    color: black;
}

div.alittle {
    text-align: center;
}






main {
    grid: M;

    
}

h2 {
    font-size: 40px;
}

p,b {
    font-size: 18px;
    margin-top: 50px;
}







div.head1, div.head2 {
    padding: 48px 192px;
    display: flex;
}

div.head3 {
    padding: 48px 192px;
}


div.head1 div.left {
flex: 7;
}

div.head1 div.right {
flex: 3;
}


img {
    margin-top: 50px;
    width: 300px;
}

div.head2 {
    background-color: #f2dff9;
}

div.head2 div.left {
    flex: 3;
    }
    
div.head2 div.right {
    flex: 7;
    }

    h1.secondh1 {
     font-size: 40px;   
    }

    div.head3 {
        background-color: #7f6f84;
        text-align: center;
        color: white;
    }


    footer {
        grid: F;

    }

    footer img {
        margin-top:80px;
        width: 40px;
    }

    footer image:hover {
        opacity: 0.1;
    }

    footer p {
        margin-bottom: 50px;
    }

    footer div {
        text-align: center;

    }
    

    
    
